/asm/
/backups/
/blueprints/
/downloads/
/fonts/
/journeymap/
/logs/
/mod-config/
/mods/
/resourcepacks/
/saves/
/shaderpacks/
/TCNodeTracker/
.curseclient
1213309934
betterfps.txt
BotaniaVars.dat
minecraftinstance.json
minetweaker.log
OpenComputersMod-1.6.1.11-lua52-native.64.dll
OpenComputersMod-1.6.1.11-lua53-native.64.dll
options.txt
Reika.DragonAPI.ModInteract.DeepInteract.FrameBlacklist.classdata
servers.dat
usercache.json
usernamecache.json